body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #000000;
}

h2 {
  font-family: 'Playfair', serif;
  font-size: 3em;
}

h2.aboutme{
  background-color: #fff;
  color:#3B647F;
}

p.bio{
    color: #FFFFFF;
}

.main {
  padding-top: 3%;
}

.row{
  padding: 2% 0%;
}
.blue {
  background-color:#5388C9;
}

header.mainnavbar{
  padding: 1% 0%;
  display: block;
}
p.copyright{
  text-align: center;
  color: #666;
  font-size: 1em;
}

.navi{
  margin: 5%;
  text-align: right;
}


.navi a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 2px 10px 0 10px;
  margin: 0;
}
.navi a:hover{
  background-color: #fff;
  text-decoration-color: #fff;
  color:#3B647F;
}

.currentNav {
  text-decoration: line-through !important;
  text-decoration-color: #fff !important;
  color:#3B647F !important;
}
.interactBold:hover {
  background-color: #fff;
  color:#3B647F;
}

img{
  max-width: 100%;
}
/* img.avatar {
  border-radius: 400px;
  border: 4px solid #fff;
} */

img:hover{
  opacity:0.8;
}
img.avatar:hover{
  opacity: 1;
}

.backButton{
  margin: 5%;
  text-align: left;
}

.backButton a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 2px 10px 0 10px;
  margin: 0;
}

.noteDesc {
  font-size: .75em;
}

.backnavi{
  margin: 5%;
  text-align: right;
}

.backnavi a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 2px 10px 0 10px;
  margin: 0;
}
.inTextLink {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}

.inTextLink:hover {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: #fff;

}
.intro {
  font-family: 'Playfair', serif;
  font-size: 11em;
  color: #fff;
}

@media screen and (min-width: 390px) and (max-width: 600px) {
  .intro{
    font-size: 7em;
  }
}

@media screen and (min-width: 100px) and (max-width: 389px) {
  .intro{
    font-size: 3em;
  }
}
